 body {
    font-family: Arial, sans-serif;
    margin: 0;
   
  }
  
  h1,h2 {
    text-align: center;
    text-decoration:wavy ;
  }
  
  .input-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .input-section label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .input-section input[type="number"], .input-section input[type="date"] {
    padding: 5px;
    margin-right: 10px;
  }
  
  .input-section button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .expenses-list {
    margin: 20px;
    border-radius: 20px;

  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: aqua;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  .tsd{
    color:#0000CC;
  }
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tfoot td {
    font-weight: bold;
  }
  
  .delete-btn {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .delete-btn:hover{
    transform: scale(1.2);
    transition: all ease-in ease-in-out 1s 1s;
  }
   




  /* bootstrap  */


  .input-group{
    width: 300px !important;
   margin-top:50px !important ;
   border-color: aqua !important;
   

  }

  .btn{
    margin-top: 10px !important;
  }
  .btn:hover{
    box-shadow: 3px 2px 30px green ;
  }

  .selected{
    width:300px !important ;
   height: 40px ;
   border-radius: 20px;
   text-align: center;
   color: #0000CC;
  }
 

  .date{
    border-radius: 10px !important;
    width:300px !important;
    height: 40px !important;
  }
  .h{
    color: #CCCCFF;
  }
